#<<<<<YII2_CAPEL
world-repositories.hmcfg export-ignore
world-repositories.kdev4 export-ignore
world-repositories.capel.json export-ignore
.kdev4 export-ignore
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
config/db.php export-ignore
config/test_db.php export-ignore
config/smtp.php export-ignore
config/secrets.php export-ignore
pre_deploy.h export-ignore
*.xcf export-ignore
releases.log export-ignore
codeception.yml export-ignore
tests/** export-ignore
tests/fixtures/unit/data export-ignore
TODO export-ignore
#>>>>>YII2_CAPEL
