#<<<<<YII2_CAPEL
phpunit.phar
/phpunit.xml
tests/_output
tests/_data
tests/_support/_generated

*.log
!releases.log
world-repos_*.torres
*.kate-swp
*~
.kdev4/**
/nbproject/**
.sass-cache
### begin-preserve-local ###
vendor
web/assets/*
runtime/*
config/secrets.php
config/local_config.php
config/local_console.php
config/local_web.php
composer.lock
web/uploads
tests/unit/fixtures/data
### end-preserve-local ###
tests/**/fixtures/data
!tests/fixtures/data
#>>>>>YII2_CAPEL
database/seeders/SchemaSeeder.php
data
db
