#<<<<<YII2_CAPEL
world-repos.kdev4 export-ignore
world-repos.capel.json export-ignore
.kdev4 export-ignore
.gitattributes export-ignore
.gitignore export-ignore
config/local_*.php export-ignore
config/test.php export-ignore
config/secrets.php export-ignore
*.xcf export-ignore
releases.log export-ignore
codeception.yml export-ignore
tests/** export-ignore
database/migrations/tests export-ignore
TODO.md export-ignore
*.torres export-ignore
#>>>>>YII2_CAPEL
