/*<<<<<MAIN*/
/*Template:Yii2App/web/css/site.css*/
html,
body {
	color: inherit;
	background-color: inherit;
}
/*>>>>>MAIN*/
/*<<<<<COMMON_STYLES*/
@import "/css/app_common.css";
a {
	text-decoration: none; /* Remove underline by default */
}
a:hover {
	text-decoration: underline; /* Show underline on hover */
}
@media not print {
	.not-set {
		--bs-text-opacity: 1;
		color: var(--bs-secondary-color) !important;
		font-size: smaller;
		font-style: italic;
	}
	.icon-danger {
		color: red;
	}
}
@media print {
	body {
		background: none;
	}
	.not-set {
		visibility: hidden;
	}
}
[data-bs-theme="dark"] .form-select[multiple] option:checked {
  background-color: var(--bs-secondary-bg); /* Set the desired background color */
  color: var(--bs-secondary-color); /* Set the text color to ensure readability */
}
/*
.no-horiz-margin {
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.invalid {
	color: white;
	background-color:orange;
}
.hidden {
	display:none;
}
input[type="checkbox"]:focus + .custom-control-label {
  text-decoration: underline;
}
*/
fieldset {
	border: 1px solid #ddd !important;
	margin: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: var(--bs-tertiary-bg);
	padding-left: 10px !important;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	width: auto;
	padding: 5px 10px;
}

/* For example, change the color and add a border */
/* Add your custom styles here */
/*>>>>>COMMON_STYLES*/
/*<<<<<FORMS*/
.btn.btn-cancel {
	background-color: var(--bs-secondary-color);
	background-color: var(--bs-secondary-bg);
	border-color: #6c757d;
	padding: 0px 8px;
	margin:0;
	font-size: smaller;
}
.btn.btn-cancel > i {
	font-size: 1.5rem;
}

/*
.form-control::placeholder { opacity:0.5; }
.form-control-plaintext {
	padding: 0.375rem 0.75rem !important;
	background-color: #e9ecef;
	opacity: 1;
}
.readonly {
	background-color: #e9ecef;
	opacity: 1;
}
.custom-control.custom-checkbox {
	margin-bottom: 1rem;
}
.form-buttons-group {
	padding-left: 0.75rem;
}
.form-fields .tab-content {
	margin-top: 1rem;
}
*/
/* churros formwizard
.churros-wizard .sw-main {
	background-color: inherit;
}
.churros-wizard .sw-theme-default > ul.step-anchor {
	background-color: inherit;
}
.churros-wizard .step-content {
	background-color: inherit;
}
.churros-wizard .sw-theme-default > ul.step-anchor > li.active > a {
	color: inherit;
}
.sw-theme-default > ul.step-anchor > li.done > a {
	color: inherit !important;
}
*/
/*>>>>>FORMS*/
