/*<<<<<MAIN*/
/*Template:Yii2App/web/css/site.css*/
@import "/css/app_common.css";
html,
body {
}
/*>>>>>MAIN*/
/*<<<<<COMMON_STYLES*/
a {
	text-decoration: none; /* Remove underline by default */
}
a:hover {
	text-decoration: underline; /* Show underline on hover */
}
@media not print {
	.not-set {
		--bs-text-opacity: 1;
		color: var(--bs-secondary-color) !important;
		font-size: smaller;
		font-style: italic;
	}
	.icon-danger {
		color: red;
	}
}
@media print {
	body {
		background: none;
	}
	.not-set {
		visibility: hidden;
	}
}
[data-bs-theme="dark"] .form-select[multiple] option:checked {
  background-color: var(--bs-secondary-bg); /* Set the desired background color */
  color: var(--bs-secondary-color); /* Set the text color to ensure readability */
}

fieldset {
	border: 1px solid #ddd !important;
	margin: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: var(--bs-tertiary-bg);
	padding-left: 10px !important;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
	width: auto;
	padding: 5px 10px;
}
/*>>>>>COMMON_STYLES*/
/*<<<<<FORMS*/
.record-view .panel-heading h1 {
	font-size: 1.5rem;
}
#mainContent .title h1 {
	font-size: 1.5rem;
}
.btn.btn-cancel {
}
ul.no-bullets, .no-bullets ul {
	list-style-type: none;
}
.fake-readonly-control {
	display: block;
	padding: 0.375rem 0;
	padding-left: 0px;
	margin-bottom: 0;
	line-height: 1.5;
	color: var(--bs-body-color);
	background-color: transparent;
	border: solid transparent;
	border-width: var(--bs-border-width) 0;
}
/*>>>>>FORMS*/
/*<<<<<FIXES*/
.editormd-fullscreen {
  /* btn-group has position:relative and it looks like .editormd has z-index:200000 */
  z-index: 10;
}
/*>>>>>FIXES*/
/*<<<<<BS5-EXTENSIONS*/
.inline-alert {
  display: inline-block; /* Makes the alert inline */
  width: 100%;
  text-align: center;
  padding: 5px 0; /* Adjust padding for a smaller size */
  font-size: 0.875rem; /* Reduce font size */
  margin: 0; /* Remove margin for inline positioning */
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  position: relative;
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}
.btn-group > a > svg, .toolbar > a > svg {
	margin-right: 0.5rem;
}
/*>>>>>BS5-EXTENSIONS*/
